mixin gh-link(contributor)
    - let username = contributor.username ? contributor.username : contributor.name;
    span.nowrap
        a(href=`https://www.github.com/${username}`)
            img(src=require("../img/github-mark-white.png"), alt="GitHub Logo").logo-link
            | &nbsp;#[=contributor.name]

mixin project(name, link, image, contributors)
    .col-lg-4.col-md-6.col-sm-12.mb-4
        .card.bg-dark.border-secondary
            img(src=image, alt=name).img-fluid.card-img-top
            .card-body
                h4.card-title
                    | #[=name]
                p.card-text
                    if contributors.length > 1
                        | contributors:&nbsp;
                    else
                        | Student:&nbsp;
                    each c, i in contributors 
                        | #[+gh-link(c)]
                        if i < contributors.length - 1
                            | , 

                if block 
                    .card-text
                        block

                a(href=link).card-link Visit Website

- let projects = require("../data/projects.yaml")
html 
    head 
        title Three.js Seminar
        link(rel="stylesheet", href="https://code.cdn.mozilla.net/fonts/fira.css")
        link(rel="icon", href=require('../img/cgs_logo.png'))
    body.dark
        include partials/navbar
        section#header.container
            .row.text-left 
                .col-12.offset-0
                    h2.mb-1 Introduction
                    p
                        | Three.js is a widely used 3D rendering engine for web browsers with hardware accelerated rendering capabilities based on WebGL and the upcoming WebGPU APIs.
                        | The feature set of Three.js is broad and comprehensive to allow for quick prototyping, cool demos, and 3D applications.
                        | However, some computer graphics features in niche gaps are missing.
                    h2.mt-2.mb-1 Scope and Context
                    p
                        | We at the research group for #[a(href="https://hpi.de/doellner/home.html") Computer Graphics Systems], chaired by Prof. Dr. Jürgen Döllner, identified a couple of such missing features and designed a project seminar to fill these gaps.
                        | As such, we conducted the seminar "3D Computer Graphics: Extending the Three.js Framework" with seven Bachelor's contributors in the winter semester 2023/24 at Hasso Plattner Institute, Digital Engineering Faculty, University of Potsdam.
                        | The instructors and supervisors for the projects were Willy Scheibel (#[+gh-link({name: "scheibel", username: "scheibel"})]) and Ole Wegen.
                        | The results were as follows.
            h1.mt-4.mb-1 Projects
            .row
                each p in projects
                    +project(
                        p.name,
                        p.url,
                        require(`../img/${p.img}`),
                        p.contributors
                    )
                        p #{p.description}