mixin gh-link(contributor)
    - let username = contributor.username ? contributor.username : contributor.name;
    span.nowrap
        a(href=`https://www.github.com/${username}`)
            img(src=require("../img/github-mark-white.png"), alt="GitHub Logo").logo-link
            | &nbsp;#[=contributor.name]

mixin project(name, link, image, contributors)
    .col-lg-4.col-md-6.col-sm-12.mb-4
        .card.bg-dark.border-secondary
            img(src=image, alt=name).img-fluid.card-img-top
            .card-body
                h4.card-title
                    | #[=name]
                p.card-text
                    if contributors.length > 1
                        | Contributors:&nbsp;
                    else
                        | Contributor:&nbsp;
                    each c, i in contributors 
                        | #[+gh-link(c)]
                        if i < contributors.length - 1
                            | , 

                if block 
                    .card-text
                        block

                a(href=link).card-link Visit Website

- let projects = require("../data/projects.yaml")
html 
    head 
        title Three.js Seminar
        link(rel="stylesheet", href="https://code.cdn.mozilla.net/fonts/fira.css")
        link(rel="icon", href=require('../img/cgs_logo.png'))
    body.dark
        include partials/navbar
        section#header.container
            .row.text-left 
                .col-12.offset-0
                    h2.mb-1 Header
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Nulla urna velit, pellentesque eget tempus nec, faucibus ac dui.
                        | Aliquam auctor. 
                    h2.mt-2.mb-1 Header
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Vivamus imperdiet eget mi sed cursus.
                        | Proin felis nulla, egestas id tellus non, hendrerit pretium libero.
                        | Donec sit amet orci. 
            h1.mt-4.mb-1 Projects
            .row
                each p in projects
                    +project(
                        p.name,
                        p.url,
                        require(`../img/${p.img}`),
                        p.contributors
                    )
                        p #{p.description}